* {
  margin: 0;
  padding: 0; }

body {
  font-size: 1.2em; }

::selection {
  background-color: #3AE7A0;
  color: #32324F; }

body {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.055em;
  color: #fafafa; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1, h2, h4 {
  margin-bottom: 15px; }

h1 {
  font-size: 5rem;
  line-height: 6rem;
  font-family: "BioRhyme", serif;
  text-transform: uppercase;
  margin-bottom: 15px; }

h2 {
  color: #fafafa; }

h4 {
  font-size: 1.38em; }

p {
  font-size: .95em;
  line-height: 1.85em; }

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.link:hover {
  color: #fafafa; }

.link:before, .link:after {
  content: '';
  background: #3AE7A0;
  position: absolute;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.link:before {
  top: 0;
  left: 0; }

.link:after {
  top: 100%;
  right: 0; }

a:hover:before, a:hover:after {
  width: 100%; }

@media only screen and (max-width: 789px) {
  .wrapper h1 {
    font-size: 2.5rem; } }

.read-more-button {
  display: block;
  max-width: 300px;
  margin: 15px auto;
  width: 180px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #444477;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #32324F;
  border-radius: 10px;
  transition: .5s;
  overflow: hidden;
  background-color: #32324F;
  text-shadow: none;
  color: #fafafa; }
  .read-more-button:hover {
    background-color: transparent;
    color: #32324F; }

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1); }
  100% {
    transform: rotate(720deg) scale(1.05); } }
#canvas {
  z-index: -9999;
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #444477;
  color: #444477; }

#dots {
  background-color: #444477;
  color: #444477;
  background-color: #32324F;
  color: #32324F; }

a {
  color: #3AE7A0; }

* {
  text-shadow: 1px 3px 5px #1f1b40; }

.fa {
  opacity: .8 !important;
  text-shadow: 0 0 15px #1f1b40; }
  .fa:hover {
    text-shadow: 10px 0 30px #16142e; }

.wrapper {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .wrapper .hello {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    text-align: center; }
  .wrapper .text-wrapper {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    max-width: 900px;
    margin: 0 auto; }
    @media only screen and (min-width: 1500px) {
      .wrapper .text-wrapper {
        max-width: 1200px; } }
    .wrapper .text-wrapper .left {
      width: calc(83.3333333333% - 36.6666666667px);
      float: left;
      margin-left: 20px; }
      @media only screen and (max-width: 789px) {
        .wrapper .text-wrapper .left {
          width: calc(100% - 40px);
          float: left;
          margin-left: 20px;
          margin-bottom: 15px; } }
    .wrapper .text-wrapper .right {
      width: calc(16.6666666667% - 23.3333333333px);
      float: left;
      margin-left: 20px;
      margin-top: 15px;
      height: 50px; }
      .wrapper .text-wrapper .right .icons {
        width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px; }
        .wrapper .text-wrapper .right .icons .fa {
          transition: all 0.3s ease-in-out; }
          .wrapper .text-wrapper .right .icons .fa:hover {
            opacity: .3;
            animation: spin 500ms 1 forwards ease-in-out; }
      @media only screen and (max-width: 789px) {
        .wrapper .text-wrapper .right {
          width: calc(100% - 40px);
          float: left;
          margin-left: 20px; } }

.main {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3AE7A0; }
  .main h2, .main p {
    text-shadow: none;
    text-align: center;
    color: #32324F; }
  .main h2 {
    font-family: "BioRhyme", serif;
    margin-bottom: 15px; }
  .main p {
    margin-bottom: 15px;
    text-align: left; }
  .main .main-content {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    max-width: 900px;
    margin: 0 auto; }
    .main .main-content .main-description {
      width: calc(41.6666666667% - 28.3333333333px);
      float: left;
      margin-left: 20px; }
      @media only screen and (max-width: 789px) {
        .main .main-content .main-description {
          width: calc(100% - 40px);
          float: left;
          margin-left: 20px; } }
    .main .main-content .main-img {
      background-color: blue;
      width: calc(58.3333333333% - 31.6666666667px);
      float: left;
      margin-left: 20px; }
      @media only screen and (max-width: 789px) {
        .main .main-content .main-img {
          width: calc(100% - 40px);
          float: left;
          margin-left: 20px;
          margin-top: 15px; } }

.panel-two {
  background-color: #444477; }
  .panel-two p, .panel-two h2 {
    color: #fafafa; }
  .panel-two .read-more-button {
    background-color: #fafafa;
    border: 2px solid #fafafa;
    color: #444477; }
    .panel-two .read-more-button:hover {
      background-color: transparent;
      color: #fafafa; }

.panel-three {
  background-color: #32324F; }
  .panel-three p, .panel-three h2 {
    color: #fafafa; }
  .panel-three .read-more-button {
    background-color: #fafafa;
    border: 2px solid #fafafa;
    color: #444477; }
    .panel-three .read-more-button:hover {
      background-color: transparent;
      color: #fafafa; }

.contact .contact-wrapper {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto; }
  .contact .contact-wrapper .bottom-icons {
    width: 80px; }
    .contact .contact-wrapper .bottom-icons ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 0; }
      .contact .contact-wrapper .bottom-icons ul li {
        margin: 0;
        padding: 0;
        font-size: 25px; }
        .contact .contact-wrapper .bottom-icons ul li:hover {
          opacity: 0.7;
          transform: translateY(-0.1em); }
  .contact .contact-wrapper h2 {
    font-size: 2em;
    text-align: center; }
  .contact .contact-wrapper p {
    text-align: center;
    font-size: 1.2em;
    width: 70%;
    max-width: 800px;
    margin: 0; }
  .contact .contact-wrapper form {
    margin: 0 auto;
    width: 60%; }
    @media only screen and (max-width: 964px) {
      .contact .contact-wrapper form {
        width: 80%; } }
    .contact .contact-wrapper form input, .contact .contact-wrapper form textarea {
      padding: 7px 5px;
      width: 95%;
      display: block;
      margin: 15px auto;
      border: 2px solid transparent;
      border-radius: 3px;
      outline: none; }
      .contact .contact-wrapper form input:focus, .contact .contact-wrapper form textarea:focus {
        opacity: 0.8; }
    .contact .contact-wrapper form input {
      height: 25px; }
    .contact .contact-wrapper form input[type=text], .contact .contact-wrapper form input[type=email] {
      font-size: 0.8em; }
    .contact .contact-wrapper form textarea {
      height: 100px;
      font-size: 0.8em; }

textarea::-webkit-input-placeholder {
  color: red; }

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: red; }

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: red; }

textarea:-ms-input-placeholder {
  color: red; }

/*# sourceMappingURL=style.css.map */
