.wrapper {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .hello {
    @include grid-column(12);
    text-align: center;
  }
  .text-wrapper {
    @include grid-column(12);
    max-width: $container;
    margin: 0 auto;
    @include large-breakpoint {
      max-width: 1200px;
    }
    .left {
      @include grid-column(10);
      @include xs-breakpoint {
        @include grid-column(12);
        margin-bottom: $nudge;
      }
    }
    .right {
      @include grid-column(2);
      margin-top: $nudge;
      height: 50px;
      .icons {
        width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        .fa {
          transition: $transition;
          &:hover {
            opacity: .3;
            animation: spin 500ms 1 forwards ease-in-out;
          }
        }
      }
      @include xs-breakpoint {
        @include grid-column(12);
      }
    }
  }
}

.main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $malachite;
  .main-content {
    background-color: cornflowerblue;
    @include grid-column(12);
    .main-description {
      background-color: red;
      @include grid-column(5);
      @include xs-breakpoint {
        @include grid-column(12);
      }
    }
    .main-img {
      background-color: blue;
      @include grid-column(7);
      @include xs-breakpoint {
        @include grid-column(12);
        margin-top: $nudge;
      }
    }
  }
}

// .left {
//   @include grid-column(10);
//   @include xs-breakpoint {
//     @include grid-column(12);
//     margin-bottom: $nudge;
//   }
// }
// .right {
//   @include grid-column(2);
//   margin-top: $nudge;
//   height: 50px;