* {
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: orange;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // @include grid-column(12);
  .wrapper-container {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96vh;
    width: 97.5vw;
    background-color: lighten(navy, 40%);
    // padding: 18% 1%;
    // @include grid-column(12);
    .hello {
      // @include grid-column(12);
      background-color: orange;
      h1 {
      }
    }
    .about {
      @include grid-column(4);
      align-self: flex-end;
      background-color: mistyrose;
    }
  }
}
