.read-more-button {
    display: block;
    max-width: 300px;
    margin: $nudge auto;
    width: 180px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: $east-bay;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid $jacarta;
    border-radius: 10px;
    transition: .5s;
    overflow: hidden;
    background-color: $jacarta;
    text-shadow: none;
    color: $snow;
    &:hover {
        background-color: transparent;
        color: $jacarta;
    }
}