#canvas {
  z-index: -9999;
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  // background-color: $jacarta;
  // color: $jacarta;
  background-color: $east-bay;
  color: $east-bay;
}

* {
  text-shadow: 1px 3px 5px darken(#3AE7A0, 5%);
}

#dots
{
  // background-color: darken($malachite, 20%);
  // color: darken($malachite, 20%);
  background-color: $east-bay;
  color: $east-bay;
  background-color: $jacarta;
  color: $jacarta;
}

a {
  // color: $snow;
  color: $malachite;
}

* {
  text-shadow: 1px 3px 5px darken(#272352, 5%);
}

.fa {
  opacity: .8 !important;
  text-shadow: 0 0 15px darken(#272352, 5%);
  &:hover {
    text-shadow: 10px 0 30px darken(#272352, 10%);
  }
}