#canvas {
  z-index: -9999;
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #eb4738;
  color: #f57953;
}

#dots
{
  background-color: #323A6B;
  color: #4A638A;
}

a {
  color: yellow;
}

* {
  text-shadow: 1px 3px 5px darken(#272352, 5%);
}

.fa {
  opacity: .8 !important;
  text-shadow: 0 0 15px darken(#272352, 5%);
  &:hover {
    text-shadow: 10px 0 30px darken(#272352, 10%);
  }
}