body {
  font-family: $primary-font;
  letter-spacing: $letter-spacing;
  color: $snow;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1, h2, h4 {
  margin-bottom: $nudge;
}

h1 {
  font-size: 5rem;
  line-height: 6rem;
  font-family: $secondary-font;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h2 {
  color: $snow;
}

h4 {
  font-size: 1.38em;
}

p {
  font-size: .95em;
  line-height: 1.85em;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}

.link:hover {
  color: white;
}

.link:before, .link:after {
  content: '';
  background: $malachite;
  position: absolute;
  width: 0;
  height: 2px;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}

.link:before {
  top: 0;
  left: 0;
}

.link:after {
  top: 100%;
  right: 0;
}

a:hover:before, a:hover:after {
  width: 100%;
}

.wrapper {
  h1 {
    @include large-breakpoint {
      // font-size: 6.6rem;
      // line-height: 7rem;
    }
    @include medium-breakpoint {
      // font-size: 5rem;
    }
    @include small-breakpoint {
      // font-size: 4rem;
      // line-height: 4rem;
    }

    @include xs-breakpoint {
      font-size: 2.5rem;
      // line-height: 2.5rem;
    }
  }
  h2 {
    @include xs-breakpoint {
      // font-size: 1rem;
    }
  }
  h4 {
    @include large-breakpoint {
      // font-size: 2rem;
    }
    @include xs-breakpoint {
      // font-size: 1.2rem;
      // line-height: 1.75rem;
    }
  }
  p {
    @include large-breakpoint {
      // font-size: 1.3rem;
    }
    @include xs-breakpoint {
      // font-size: 1.1rem;
    }
  }

}
