body {
  font-family: $primary-font;
  letter-spacing: $letter-spacing;
  color: lighten(black, 80%);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 6rem;
  font-family: $secondary-font;
  text-transform: uppercase;
  text-shadow: 3px 0 100px darken(navy, 20%);
}

h4 {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 10px;
}

p {
  font-size: .95em;
}
