// Typography
$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'BioRhyme', serif;
$letter-spacing: 0.055em;

// Breakpoints
$xs-bp: "only screen and (max-width: 789px)";
$small-bp: "only screen and (max-width: 964px)";
$medium-bp: "only screen and (max-width: 1160px)";
$large-bp: "only screen and (min-width: 1500px)";

// Grid
$container: 900px;

// Style cohesion
$nudge: 15px;
$border-radius: 3px;
$transition: all .3s ease-in-out;
$text-shadow: 1px 3px 5px darken(#3AE7A0, 5%);

// Color
$malachite: #3AE7A0;
$jacarta: #32324F;
$east-bay: #444477;
$snow: #fafafa;