// Typography
$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'BioRhyme', serif;
$letter-spacing: 0.03em;


// Breakpoints
$xs-bp: "only screen and (max-width: 789px)";
$small-bp: "only screen and (max-width: 964px)";
$medium-bp: "only screen and (max-width: 1160px)";
$large-bp: "only screen and (min-width: 1500px)";

// Grid
$container: 1000px;

// Style cohesion
$nudge: 15px;
$border-radius: 3px;
$transition: all .3s ease-in-out;
